@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow: #ff5722 ;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#112;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    line-height: 3rem;
}

.about .row{
    padding:1rem 0;
}

.about .row p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    text-align: center;
    line-height: 4rem;
   white-space: 2rem;
}

.about .row h3{
    font-size: 3rem;
    color: var(--yellow);
    text-align: center;
    margin-top: 2rem;
}

.about .row small{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    display: block;
}

.about .row h3.skill-header{
    margin-top: 3.5rem;
}

.about .row div.skill-list{
    display: flex;
    flex-wrap: wrap;
}

.about .row div.skill-list div{
    width: 33%;
    position: relative;
}
.about .row div.skill-list div i{
    font-size: 3rem;
    color: var(--yellow);
    margin-left: 3rem;

}
.about .row div.skill-list div p{
    display: inline-block;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.about .row div.skill-list:nth-child(2),
.about .row div.skill-list:nth-child(4),
.about .row div.skill-list:nth-child(6),
.about .row div.skill-list:nth-child(8) {
    margin-left: 5rem;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 30rem;
    width: 35rem;
    border-radius: 1rem;
    margin:2rem;
    /* overflow: hidden; */
    cursor: pointer;
}

.portfolio .box-container .box a, 
.portfolio .box-container .box a figure{
    width: 100%;
    height: 100%;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.portfolio .box-container .box figure{
   border: 2px solid var(--yellow);
}

.portfolio .box-container .box figure figcaption{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.github{
    margin-top: 5rem;
}
.github p{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}


.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 a{
    text-transform: lowercase;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.contact .row .content div.social-media{
    margin-top: 2rem;
}

.contact .row .content div.social-media a{
    color: #fff;
    font-size: 2rem;
}
.contact .row .content div.social-media a:nth-child(2){
    margin-left: 3rem;
}

.contact .row .content div.social-media a i{
    color: var(--yellow);
    font-size: 3rem;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}


/* animation */
section.motion{
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    top: 50%; left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.blob-container{
    height: 100%;
    width: 100%;
    top: 0; left: 0;
}

.blob{
   border-radius: 50%;
   background-color: #ff5722;
   position: absolute;
}

.blob:nth-child(1){
    width: 200px;
    height: 200px;
    left: 30%;
    bottom: -40%;

    animation: wobble 4s ease-in-out alternate infinite,
               blob-one ease-in-out 40s infinite;

}

.blob:nth-child(2){
    width: 100px;
    height: 100px;
    bottom: -70%;
    left: 10%;

    animation: wobble 6s ease-in-out alternate infinite,
               blob-two ease-in-out 30s infinite;
}

.blob:nth-child(3){
    width: 40px;
    height: 40px;
    bottom: -140%;
    left: 50%;

    animation: wobble 8s ease-in-out alternate infinite,
               blob-three ease-in-out 50s infinite;
}

.blob:nth-child(4){
    width: 200px;
    height: 200px;
    top: 80%;
    left: 80%;

     animation: wobble 12s ease-in-out alternate infinite;
               
}

.blob:nth-child(5){
    width: 20px;
    height: 20px;
    top: 90%;
    left: 85%;

     animation: wobble 12s ease-in-out alternate infinite,
                blob-five ease-in-out 15s alternate infinite;
               
}

.blob:nth-child(6){
    width: 20px;
    height: 20px;
    top: 93%;
    left: 90%;

     animation: wobble 12s ease-in-out alternate infinite,
                blob-six ease-in-out 25s alternate infinite;
               
}


/* keyframes */

@keyframes blob-one{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(420%);
    }
}

@keyframes blob-two{
    0%, 100%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-420%);
    }
}

@keyframes blob-three{
    0%, 100%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-350%);
    }
}

@keyframes blob-five{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-200px);
    }
}

@keyframes blob-six{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translate( -600px,-200px) scale(2);
    }
}




@keyframes wobble{
  50%{
      border-radius: 43% 58% 79% 42% / 45% 50% 50% 45%;
  }
  100%{
      border-radius: 40% 56% 78% 39% / 50% 40% 50% 67%;
  }
}


















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    } 

    .about .row div.skill-list div{
        width: 50%;
    }
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }

    /* .about .row div.skill-list div{
        width: 50%;
        justify-content: center;
    } */
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }